{
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
    "es6": true
  },
  "globals": {
    "React": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "plugins": ["@typescript-eslint", "react", "unused-imports"],
  "rules": {
    "no-alert": "warn",
    "no-array-constructor": "error",
    "no-bitwise": "error",
    "no-caller": "error",
    "no-case-declarations": "warn",
    "no-class-assign": "warn",
    "no-cond-assign": "warn",
    "no-confusing-arrow": "off",
    "no-console": "off",
    "no-const-assign": "error",
    "no-constant-condition": "warn",
    "no-continue": "off",
    "no-control-regex": "warn",
    "no-debugger": "error",
    "no-delete-var": "warn",
    "no-div-regex": "warn",
    "no-dupe-class-members": "warn",
    "no-dupe-keys": "warn",
    "no-dupe-args": "warn",
    "no-duplicate-case": "error",
    "no-duplicate-imports": "warn",
    "no-else-return": "warn",
    "no-empty": "warn",
    "no-empty-character-class": "warn",
    "no-empty-function": "warn",
    "no-empty-pattern": "warn",
    "no-eq-null": "warn",
    "no-eval": "error",
    "no-ex-assign": "warn",
    "no-extend-native": "warn",
    "no-extra-bind": "warn",
    "no-extra-boolean-cast": "warn",
    "no-extra-label": "warn",
    "no-extra-parens": "off",
    "no-extra-semi": "warn",
    "no-fallthrough": "warn",
    "no-floating-decimal": "warn",
    "no-func-assign": "warn",
    "no-implicit-coercion": "warn",
    "no-implicit-globals": "warn",
    "no-implied-eval": "warn",
    "no-inline-comments": "warn",
    "no-inner-declarations": "warn",
    "no-invalid-regexp": "warn",
    "no-invalid-this": "warn",
    "no-irregular-whitespace": "warn",
    "no-iterator": "warn",
    "no-label-var": "warn",
    "no-labels": "warn",
    "no-lone-blocks": "warn",
    "no-lonely-if": "warn",
    "no-loop-func": "warn",
    "no-mixed-requires": "warn",
    "no-mixed-spaces-and-tabs": "warn",
    //"linebreak-style": "error",
    "no-multi-spaces": "warn",
    "no-multi-str": "warn",
    "no-multiple-empty-lines": "warn",
    "no-native-reassign": "warn",
    "no-negated-condition": "off",
    "no-negated-in-lhs": "warn",
    "no-nested-ternary": "warn",
    "no-new": "warn",
    "no-new-func": "warn",
    "no-new-object": "warn",
    "no-new-require": "warn",
    "no-new-symbol": "warn",
    "no-new-wrappers": "warn",
    "no-obj-calls": "warn",
    "no-octal": "warn",
    "no-octal-escape": "warn",
    "no-param-reassign": "error",
    "no-path-concat": "warn",
    "no-plusplus": "off",
    "no-process-env": "warn",
    "no-process-exit": "warn",
    "no-proto": "warn",
    "no-redeclare": "warn",
    "no-regex-spaces": "warn",
    "no-restricted-globals": "off",
    "no-restricted-imports": "off",
    "no-restricted-modules": "off",
    "no-restricted-syntax": "off",
    "no-return-assign": "warn",
    "no-script-url": "warn",
    "no-self-assign": "warn",
    "no-self-compare": "warn",
    "no-sequences": "warn",
    "no-shadow": "warn",
    "no-shadow-restricted-names": "error",
    "no-whitespace-before-property": "warn",
    "func-call-spacing": ["off", "never"],
    "no-sparse-arrays": "warn",
    "no-sync": "warn",
    "no-ternary": "off",
    "no-trailing-spaces": "warn",
    "no-this-before-super": "error",
    "no-throw-literal": "warn",
    "no-undef": "warn",
    "no-undef-init": "warn",
    "no-undefined": "warn",
    "no-unexpected-multiline": "warn",
    "no-underscore-dangle": "warn",
    "no-unmodified-loop-condition": "warn",
    "no-unneeded-ternary": "warn",
    "no-unreachable": "error",
    "no-unused-expressions": "off",
    "no-unused-labels": "warn",
    "no-use-before-define": "error",
    "no-useless-call": "warn",
    "no-useless-concat": "warn",
    "no-useless-constructor": "warn",
    "no-useless-escape": "warn",
    "no-void": "warn",
    "no-var": "warn",
    "no-warning-comments": "warn",
    "no-with": "warn",
    "no-magic-numbers": "off",
    "array-bracket-spacing": "warn",
    "array-callback-return": "warn",
    "arrow-body-style": ["warn", "as-needed"],
    "arrow-parens": ["off", "as-needed"],
    "arrow-spacing": "warn",
    "accessor-pairs": "warn",
    "block-scoped-var": "warn",
    "block-spacing": "warn",
    "brace-style": "warn",
    "callback-return": "warn",
    "camelcase": "warn",
    "comma-dangle": "off",
    "comma-spacing": "warn",
    "comma-style": "warn",
    "complexity": ["warn", 11],
    "computed-property-spacing": ["warn", "never"],
    "consistent-return": "off",
    "consistent-this": "warn",
    "constructor-super": "warn",
    "curly": "error",
    "default-case": "warn",
    "dot-location": "off",
    "dot-notation": "warn",
    "eol-last": "off",
    "eqeqeq": ["warn", "smart"],
    "func-names": "error",
    "func-style": "off",
    "generator-star-spacing": "off",
    "global-require": "warn",
    "guard-for-in": "warn",
    "handle-callback-err": "warn",
    "id-length": "off",
    "indent": ["warn", 2],
    "init-declarations": "warn",
    "key-spacing": "warn",
    "keyword-spacing": "warn",
    "lines-around-comment": "warn",
    "max-depth": "warn",
    "max-len": [
      "warn",
      {
        "code": 120
      }
    ],
    "max-nested-callbacks": "warn",
    "max-params": "off",
    "max-statements-per-line": "warn",
    "new-cap": "off",
    "new-parens": "warn",
    "padding-line-between-statements": "off",
    "newline-per-chained-call": [
      "warn",
      {
        "ignoreChainWithDepth": 2
      }
    ],
    "object-curly-spacing": [1, "never"],
    "object-shorthand": "off",
    "one-var": "off",
    "one-var-declaration-per-line": "warn",
    "operator-assignment": "warn",
    "operator-linebreak": ["warn", "before"],
    "padded-blocks": "off",
    "prefer-arrow-callback": "warn",
    "prefer-const": "warn",
    "prefer-rest-params": "warn",
    "prefer-spread": "warn",
    "prefer-template": "off",
    "quote-props": "off",
    "quotes": "warn",
    "radix": "off",
    "id-match": "off",
    "id-blacklist": "off",
    "require-jsdoc": "warn",
    "require-yield": "off",
    "semi": ["off", "never"],
    "semi-spacing": "warn",
    "sort-vars": "off",
    "sort-imports": "off",
    "space-before-blocks": "off",
    "space-before-function-paren": "off",
    "space-in-parens": "warn",
    "space-infix-ops": "warn",
    "space-unary-ops": [
      "warn",
      {
        "words": true,
        "nonwords": false
      }
    ],
    "spaced-comment": "warn",
    "strict": "warn",
    "template-curly-spacing": "warn",
    "use-isnan": "warn",
    "valid-jsdoc": "warn",
    "valid-typeof": "warn",
    "vars-on-top": "warn",
    "wrap-iife": "warn",
    "wrap-regex": "warn",
    "yield-star-spacing": "off",
    "yoda": "warn",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "no-unused-vars": "off",
    "unused-imports/no-unused-imports-ts": 2,
    "unused-imports/no-unused-vars-ts": 1
  }
}